@import "../../../../scss/variables.scss";

.signUpEmail {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .signUpEmailContainer {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 750px;

    img {
      margin-bottom: 45px;
    }

    h1 {
      width: 100%;
      text-align: left;
      margin-bottom: 35px;
    }

    .signUpEmailForm,
    .signUpEmailFormSecond {
      width: 100%;
      display: flex;
      flex-direction: column;
      input {
        width: 100%;
        border: 1px solid;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 25px;
        border: 1px solid $borders;
        outline: none;
        &:focus {
          border: 1px solid $primary-blue;
          box-shadow: 0px 0px 1px 1px rgba($color: $primary-blue, $alpha: 0.2);
        }
      }
      span {
        margin-bottom: 20px;
      }
      .signUpDate {
        width: 100%;
        margin-top: 20px;
        display: flex;
        margin-bottom: 40px;
        justify-content: space-between;
        .signUpMonth,
        .signUpDay,
        .signUpYear {
          display: flex;
          position: relative;
          select {
            outline: none;
            appearance: none;
            padding: 20px;
            color: $primary-text-gray;
            border: 1px solid $borders;
            border-radius: 12px;
            &:focus {
              border: 1px solid $primary-blue;
              box-shadow: 0px 0px 1px 1px
                rgba($color: $primary-blue, $alpha: 0.2);
            }
          }
          img {
            right: 5px;
            top: 17px;
            z-index: 0;
            position: absolute;
          }
        }
        .signUpMonth {
          select {
            width: 300px;
          }
        }
        .signUpDay,
        .signUpYear {
          select {
            width: 160px;
          }
        }
      }
    }
    .signUpEmailFormFinal {
      .signUpProfileView {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        img {
          border-radius: 50%;
          margin-bottom: 0;
          width: 100px;
          height: 100px;
        }
        .signUpProfileInfo {
          display: flex;
          margin-left: 20px;
          flex-direction: column;
          h1 {
            margin-bottom: 0;
          }
          span {
            color: $primary-text-gray;
            font-weight: 400;
            margin-top: 0;
          }
        }
      }
    }
  }

  .signUpBtn {
    transition: 0.3s;
    display: block;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    padding: 20px 300px;
    color: #fff;
    background: $primary-blue;
    margin-bottom: 10px;

    &:hover {
      background: rgba($color: $primary-blue, $alpha: 0.7);
    }
  }

  .signUpCount {
    display: flex;
    align-items: center;
    .signCount {
      padding: 20px 27px;
      height: 70px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid $borders;
      border-radius: 50%;
    }
    .signCountLine {
      margin-inline: 20px;
      height: 1px;
      width: 50px;
      background: $primary-blue;
    }
    .active {
      color: $primary-blue;
      border: 1px solid $primary-blue;
    }
  }
}

.errorMessage {
  position: relative;
  bottom: 20px;
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  color: red;
}

input[type="submit"] {
  display: none;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    transition: 0.3s;
    text-decoration: none;
    &:visited {
      color: $primary-blue;
    }
    &:hover {
      text-decoration: underline;
    }
    display: inline-block;
    margin-bottom: 20px;
  }
}

.inputContainer {
  position: relative;
}

.showPass {
  position: absolute;
  top: 11px;
  right: 11px;
  cursor: pointer;
  padding: 10px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: rgba($color: $primary-hover, $alpha: 0.5);
  }
  img {
    display: block;
    margin: 0 !important;
  }
}

.uploadAvatar {
  &::-webkit-file-upload-button {
    display: none;
  }
}
