.errorMessageContainer {
  animation: 0.2s forwards showingBlock;
  position: absolute;
  top: 60px;
  box-shadow: 0px 0px 20px 2px rgba($color: #000000, $alpha: 0.2);
  background: #fff;
  width: 400px;
  height: 70px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    animation: 0.2s forwards showingText;
    font-size: 24px;
    color: #000;
  }
}

.successMessageContainer {
  animation: 2s forwards showingBlockSuccess;
  position: absolute;
  top: 60px;
  box-shadow: 0px 0px 20px 2px rgba($color: #000000, $alpha: 0.2);
  background: #fff;
  width: 400px;
  height: 70px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    animation: 2s forwards showingTextSuccess;
    font-size: 24px;
    color: #000;
  }
}

@keyframes showingBlock {
  0% {
    width: 0px;
  }
  100% {
    width: 400px;
  }
}

@keyframes showingText {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 24px;
  }
}
@keyframes showingTextSuccess {
  0% {
    font-size: 0;
  }
  20% {
    font-size: 24px;
  }
  80% {
    font-size: 24px;
  }
  100% {
    font-size: 0px;
  }
}

@keyframes showingBlockSuccess {
  0% {
    width: 0px;
  }
  20% {
    width: 400px;
    box-shadow: 0px 0px 20px 2px rgba($color: #000000, $alpha: 0.2);
  }
  80% {
    width: 400px;
    box-shadow: 0px 0px 20px 2px rgba($color: #000000, $alpha: 0.2);
  }
  100% {
    width: 0px;
    box-shadow: 0px 0px 20px 2px rgba($color: #000000, $alpha: 0);
  }
}
